.auth_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth_card {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth_card > form a {
  text-decoration: none;
  color: black;
}
.auth_card > form label {
  display: block;
}
.auth_card > form button {
  transition: all 0.25s ease-in-out;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: var(--global-border);
  border-color: transparent;
  color: white;
  font-size: 0.9rem;
}
.auth_card > form button:hover {
  background-color: white;
  color: var(--global-primary-color);

  border-color: var(--global-primary-color);
  cursor: pointer;
}
.auth_card > form button:disabled:hover {
  background-color: var(--global-primary-color);
  color: white;
  border-color: transparent;
  cursor: not-allowed;
}

.form_input_group {
  margin-bottom: 1rem;
}
.form_input_group > input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: var(--global-radius);
  border: var(--global-border);
}
.form_input_group > select {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: var(--global-radius);
  border: var(--global-border);
}
.form_error_msg {
  color: var(--global-primary-color);
}
.auth_container > .auth_card > form input.form_error_field,
.auth_container > .auth_card > form select.form_error_field,
.auth_container > .auth_card > form textarea.form_error_field {
  border-color: var(--global-primary-color);
}
@media screen and (min-width: 600px) {
  .auth_container {
    background-color: var(--global-bg-color-soft);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 2rem 10rem 0px;
  }
  .auth_card {
    width: 30em;
    border-radius: var(--global-radius);
    border: 0.5px solid hsl(0, 0%, 85%);
    background-color: white;
  }
}
