#tasks {
  padding: 20px 15px 5px;
}
#tasks .wrapper_list {
  background-color: hsl(0, 0%, 98%);
  border-radius: var(--global-border-radius);
  height: calc(100vh -100px);
  padding: 10px;
  box-shadow: 0 2px 5px #dbdbdb;
}
#tasks .wrapper_list > h2 {
  font-size: 1.2rem;
}
#tasks .wrapper_list .list_group {
  display: flex;
  flex-direction: row;
  gap: 5px 10px;
}
#tasks .wrapper_list .list_group .list {
  flex: 1;
  border-radius: var(--global-radius);
  padding: 10px;
  box-shadow: 0 2px 5px #dbdbdb;
  background-color: white;
}
#tasks .card {
  background-color: #fff;
  border: var(--global-border);
  border-radius: 12px;
  margin-bottom: 0.8rem;
  padding: 0.8rem 1.1re, 0.9rem;
  margin: 1rem 0;
  position: relative;
  /* transition: transform 0.2s ease-out; */
}
#tasks .card > .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

#tasks .card h5,
h6 {
  font-weight: 400;
}
#tasks .card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
#tasks .card p {
  font-size: 0.8rem;
  font-weight: 100;
  color: rgb(105, 72, 72);
}
#tasks .card button {
  margin: 0.3rem 0.5rem 0.3rem 0;
  padding: 0.2em 0.5em;
  font-weight: 700;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: var(--global-border);
  border-color: transparent;
  color: white;
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 95%;
  }
}
