#tasks {
  padding: 20px 15px 5px;
}

#tasks .wrapper_list {
  padding: 20px 15px 5px;
  background-color: hsl(0, 0%, 98%);
  border-radius: var(--global-border-radius);
  height: calc(100vh -100px);
  padding: 10px;
  box-shadow: 0 2px 5px #dbdbdb;
}
#tasks .wrapper_list > h2 {
  font-size: 1.2rem;
}

#tasks .wrapper_list .list_group {
  display: flex;
  flex-direction: row;
  gap: 5px 10px;
}
#tasks .wrapper_list .list_group .list {
  flex: 1;
  border-radius: var(--global-radius);
  padding: 10px;
  box-shadow: 0 2px 5px #dbdbdb;
  background-color: white;
}
#tasks .wrapper_list > select,
#tasks .wrapper_list > input {
  width: 100%;
  border: var(--global-border);
  border-radius: var(--global-radius);
}
#tasks .wrapper_list > input {
  padding: 0 0.5rem;
}

@media screen and (min-width: 900px) {
  #tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  #tasks > .wrapper_list {
    grid-column: 2/4;
  }
}
@media screen and (min-width: 1300px) {
  #tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
