.card {
  background-color: #fff;
  border: var(--global-border);
  border-radius: 12px;
  margin-bottom: 0.8rem;
  padding: 0.8rem 1.1re, 0.9rem;
  margin: 1rem 0;
  position: relative;
  /* transition: transform 0.2s ease-out; */
}
.card > .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.card h5,
h6 {
  font-weight: 400;
}
.card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.card p {
  font-size: 0.8rem;
  font-weight: 100;
  color: rgb(105, 72, 72);
}
.card button {
  margin: 0.3rem 0.5rem 0.3rem 0;
  padding: 0.2em 0.5em;
  font-weight: 700;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: var(--global-border);
  border-color: transparent;
  color: white;
  font-size: 0.7rem;
}
/* task status */
.card button.in.progress {
  background-color: black;
  color: #fbde3f;
}
.card button.in.progress:hover {
  background-color: #fbde3f;
  border-color: #fbde3f;
  color: black;
}

.card button.finished {
  background-color: #1ec876;
  border-color: #1ec876;
}
.card button.finished:hover {
  background-color: white;
  color: #1ec876;
}
/* task priority */
.card button.low {
  background-color: #007bff;
  border-color: #007bff;
}
.card button.low:hover {
  background-color: white;
  color: #007bff;
}
.card button.medium {
  background-color: black;
  color: #fbde3f;
}
.card button.medium:hover {
  background-color: #fbde3f;
  border-color: #fbde3f;
  color: black;
}
.card button.more {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 10%);
  border-color: hsl(0, 0%, 40%);
  cursor: pointer;
}
.card button.more:hover {
  background-color: hsl(0, 0%, 96%);
  color: black;
}
.card.modal {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.card > p {
  text-align: left;
}

@media screen and (min-width: 900px) {
  .card {
    width: 95%;
  }
}
