.task-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.task-form > form {
  width: 100%;
}

.task-form > form input,
.task-form > form select,
.task-form > form textarea {
  width: 100%;
  border: var(--global-border);
  border-radius: var(--global-radius);
}
.task-form > form input.form_error_field,
.task-form > form select.form_error_field,
.task-form > form textarea.form_error_field {
  border-color: var(--global-primary-color);
}
.task-form > form input,
.task-form > form textarea {
  padding: 0 0.3rem;
}
.task-form > form textarea {
  padding-top: 0.3rem;
}
.task-form > form > button {
  transition: all 0.25s ease-in-out;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--global-primary-color);
  color: white;
  border-color: transparent;
  border-radius: var(--global-radius);
  border: var(--global-border);
  font-size: 0.9rem;
}
.task-form > form > button:hover {
  background-color: white;
  color: var(--global-primary-color);
  border-color: var(--global-primary-color);
  cursor: pointer;
}
@media screen and (min-width: 1300px) {
  .task-form > form > .three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
